@use '../base' as *;

.btn {
    border: 0;
    cursor: pointer;

    &.active {
        color: hsl(var(--clr-white));
    }

}

.btn--large {
    font-size: 1.5rem;

    @media(min-width: 35em) {
        font-size: 2rem;
    }

    display: inline-grid;
    place-items: center;
    border-radius: 100vmax;
    padding: 0 2em;
    aspect-ratio: 1;
    position: relative;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        aspect-ratio: 1;
        border-radius: 100vmax;
        // inset: 0;
        z-index: -1;
        opacity: 0;
        width: 100%;
        background-color: hsl(var(--clr-white) / .08);
        transition: opacity 0.3s linear, transform 0.5s ease-in-out;
    }

    &:hover::after,
    &:focus::after {
        // inset: -25%;
        opacity: 1;
        transform: scale(1.5);
    }
}