@use '../base' as *;

.primary-nav {
    --underline-gap: 2rem;
    --gap: clamp(1.5rem, 5.5vw, 3.5rem);
    transform: translateY(-0.5px);
    background-color: hsl(var(--clr-dark) / 0.97);
}

@supports(backdrop-filter: blur(2rem)) {
    .primary-nav {
        background-color: hsl(var(--clr-white) / 0.05);
        backdrop-filter: blur(2rem);
    }
}

.primary-nav a>span {
    font-weight: 700;
    margin-right: 0.5em;
}

.nav-toggle {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 200;
    background: 0;
    border: 0;
    background-image: url('../../starter-code/assets/shared/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
}

nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
}

.nav-toggle[aria-expanded=true] {
    background-image: url('../../starter-code/assets/shared/icon-close.svg');
}

@media(max-width: 35em) {
    .primary-nav {
        --underline-gap: 0.5rem;
        flex-direction: column;
        padding: min(20rem, 15vh) 3em;
        position: fixed;
        inset: 0 0 0 30%;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }

    .primary-nav.underline-indicators>.active {
        border: 0;
    }

    .primary-nav[data-visible=true] {
        transform: translate(0);
    }
}

@media(min-width: 35em) {
    .primary-nav {
        padding-inline: clamp(1.5em, 6vw, 6em);
    }

    .nav-toggle {
        display: none;
    }
}

@media (min-width: 35em) and (max-width: 44.999em) {
    .primary-nav a>span {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-nav {
        margin-block: 2rem;
    }
}