.grid-container {
    display: grid;
    text-align: center;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 4em;
    row-gap: 2rem;

    p {
        max-width: 50ch;

    }

    picture {
        grid-area: img;
        max-width: 60% !important;
    }

    article {
        grid-area: article;
    }

    @media(min-width: 35em) {
        .numbered-title {
            justify-self: start;
        }
    }

    @media(min-width: 45em) {
        picture {
            max-width: 70% !important;
        }

        text-align: start;
        grid-template-columns: minmax(3rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);
    }

}


.grid-container--home {
    row-gap: 0;

    @media(max-width: 45em) {
        grid-template-rows: 20rem 20rem;
        margin-top: min(2vw, 2rem);
    }

    @media(min-width: 45em) {
        margin-top: min(7vw, 5rem);
        padding-bottom: max(6rem, 20vh);

        &>*:first-child {
            grid-column: 2;
        }

        &>*:last-child {
            grid-column: 3;
            place-self: end;
            margin-right: 3rem;
        }
    }
}

.numbered-title {
    grid-area: title;
}

.grid-container--destination {
    row-gap: 2rem;
    grid-template-areas:
        'title'
        'img'
        'tabs'
        'article';

    &__tab-list {
        grid-area: tabs;
    }

    &__main-text {
        padding-bottom: clamp(2em, 10vw, 3.5em);
        border-bottom: 1px solid hsl(var(--clr-white) / .1);
    }

    &__meta {
        flex-direction: column;
        align-items: center;
        padding-top: 2em;

        p {
            font-size: 1.75rem;
        }
    }

    @media(min-width: 35em) {
        margin-top: 3rem;
        padding-inline: 2em;

        &__meta {
            flex-direction: row;
            justify-content: space-evenly;

            &>* {
                margin-top: 0;
            }
        }
    }

    @media(min-width: 45em) {
        padding-inline: 0;
        grid-template-areas:
            '. title title .'
            '. img tabs .'
            '. img article .';
        justify-items: start;
        align-content: start;

        picture {
            justify-self: center;
        }

        &__meta {
            justify-content: flex-start;
            --gap: min(6vw, 6rem);
        }
    }

    @media(min-width: 80em) {
        column-gap: 4rem;
        row-gap: 3rem;
    }
}

.grid-container--crew {
    row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem minmax(min-content, max-content) 3rem minmax(min-content, max-content);
    grid-template-areas: 'title'
        'img'
        'dots'
        'article';

    .dot-indicators {
        grid-area: dots;
    }

    h2 {
        color: hsl(var(--clr-white) / .5);
    }

    picture {
        border-bottom: 1px solid hsl(var(--clr-white) / .1);
        align-self: end;
        grid-column: span 2;
    }

    .name {
        margin-top: min(2.5vw, 1rem);
    }

    @media(min-width: 35em) {
        margin-top: 3rem;

        padding-bottom: 0;
        grid-template-areas: 'title'
            'article'
            'dots'
            'img';

        picture {
            align-self: center;
        }
    }

    @media(min-width: 45em) {
        row-gap: 0;
        grid-template-rows: auto;
        grid-template-columns: minmax(4rem, 1fr) minmax(0, 45rem) minmax(0, 35rem) minmax(2rem, 1fr);
        place-items: start;
        grid-template-areas:
            '. title img .'
            '. article img .'
            '. dots img .';

        picture {
            justify-self: center;
        }

        &__article {
            grid-column: 2;
        }

        .name {
            margin: 1.5rem 0 2.5rem 0;
            line-height: 1;
        }

    }
}

.grid-container--technology {
    row-gap: min(7vw, 2.5rem);
    grid-auto-rows: minmax(min-content, max-content);
    padding-inline: 0;
    padding-bottom: 0;
    grid-template-areas: 'title'
        'img'
        'numbers'
        'article';

    picture {
        max-width: 100% !important;
        align-self: center;
    }

    &__article {
        padding-inline: 1em;
        align-self: start;
        line-height: 25px;
        max-width: 53ch;
    }

    .numbered-indicators {
        grid-area: numbers;
    }

    @media(min-width: 35em) {
        margin-top: 2rem;

        .numbered-title {
            padding-left: 2em;
        }
    }

    @media(min-width: 45em) {
        padding-bottom: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 2em;
        grid-template-areas: 'title . .'
            'article article img'
            'numbers numbers img';

        .numbered-indicators {
            justify-self: start;
        }

        .numbered-title {
            grid-column: 1/3;
            padding-left: 0;
        }

        &__img {
            justify-self: end;
            align-self: end;
        }

        &__article {
            padding-inline: 0;
            justify-self: start;

            p {
                max-width: 46ch;
            }
        }
    }

    @media(min-width: 60em) {
        column-gap: 6rem;
        padding-inline: 0;
        grid-template-columns: minmax(5rem, 1fr) minmax(0, 31rem) minmax(0, 40rem);
        grid-template-areas: '. title .'
            'numbers article img';

        .numbered-indicators {
            flex-direction: column;
            justify-self: end;
        }

        .numbered-title {
            margin-left: -9.6rem;
            grid-column: 2;
        }

        &__article {
            align-self: center;
        }
    }
}